.color {
    width: 100%;
    background-color: #152238;
}

.color li a {
    color: rgb(255, 255, 255);
}

.b-image {
    background-image: url('../Images/food.jpg');
}

.colorJumbo {
    color: #E2DCCD;
    font-family: 'Flamenco', cursive;
}

.ingredients_list {
    width: 30%;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    vertical-align: auto;
    margin: 0 auto;
    text-align: top;
    border-radius: 5%;
    ;
}

.list_items li {
   
}

.steps_list {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    border-radius: 5%;
}

.table {
    width: 30%;
    display: inline-block;
    border-radius: 5%;
}

.facts {
    width: 30%;
    border-radius: 5%;
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
}