.color {
    width: 100%;
    background-color: #152238;
}

.color li a {
    color: rgb(255, 255, 255);
}

.b-image {
    background-image: url('../Images/food.jpg');
    background-size: cover;
    opacity: 95%;
}

.colorJumbo {
    color: #152238;
    font-family: 'Rye', cursive;
    text-align: center;
}


}
.ingredients_list {
    width: 30%;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    vertical-align: auto;
    margin: 0 auto;
    text-align: top;
}
.ingredients_list ul li {
    font-family: 'Flamenco', cursive;
}
.steps_list {
    float: right;
    width: 50%;
    vertical-align: top;
    font-family: 'Flamenco', cursive;
}
#more {
    display: none;
}
.table {
    width: 60%;
    display: inline-block;
}
.gram {
    font-weight: bold;
    color: #152238;
}
.footer ul {
    text-align: center;
}
.footer ul li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Flamenco', cursive;
}